.dropdown button{
	background-color: black;
	border-radius:0px;
	position: relative;
}

.dropdown button:hover{
 	text-decoration: none;
 	background-color: black;
 	position: relative;
 }

.dropdown button:focus{
 	text-decoration: none;
 	background-color: black;
 	position: relative;
 }

 .dropdown-item:focus {
 	min-height: 1200px;
 	overflow:auto;
 }

.questions button{
	background-color: #303030;
	border-radius:0px;
	font-size: 30px;
	margin-top: 10px;
	border-color: #303030;
	width:800px;
	text-align: left;
	padding-left: 30px;
	font-weight: lighter;
	position: relative;

}

.questions{
	text-align:center;
	position: relative;
}

.dropdown-menu {
	background-color: #303030;
	position: relative;
}

.dropdown-item{
	color:white;
	width:800px;
	display: block;
	white-space:normal;
	font-size:30px;
	font-weight:200;
	position: relative;
}

.dropdown-item:hover{
	color:white;
	text-decoration: none;
	background-color: #303030;
	position: relative;
}

